@mixin FontFace($name, $fw, $ff, $url, $ext, $format) {
    @font-face {
      font-family: $ff;
      src: url('../fonts/#{$url}-#{$name}.#{$ext}') format($format);
      font-weight: $fw;
    }
  }
  $fontArr: ('Bold',);
  $fontArrInter: ('Regular', 400),('Medium', 500),('Bold', 700);
  
  @each $name, $fw in $fontArr {
    @include FontFace($name, $fw, 'DrukWide', 'DrukWide/DrukWide', 'ttf', 'truetype');
  }
  @each $name, $fw in $fontArrInter {
    @include FontFace($name, $fw, 'Inter', 'Inter/Inter', 'ttf', 'truetype');
  }
  @mixin container() {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }